@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// My changes
$container-max-width: 1600px;
.tag {
  min-width: 100px;
}

.table {
    th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
        content: " \25B4\25BE"
    }
}

/* Bulma Responsive Tables */
@import "~bulma-responsive-tables/bulma-responsive-tables";

// Import all of bulma (must be the last statement)
@import "~bulma/bulma";
